@charset "utf-8";
/* CSS Document */


/**** NAV BAR  ****/
body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}
/**** END NAVBAR ****/

.form-row {
	margin-top: 5px;
	margin-bottom: 5px;
}

