{% extends "header.html" %}
{% block content %}



<div class="container">
	<div class="row">
    	<div class="col-lg-3" style="border:dotted">
        	<div class="row">
            	<h4> Please select a Checklist</h4>
            </div>
            
            {% for cl in checklist %}
            <div class="row" name="checklistId-{{cl.id}}" value={{cl.id}}>
				{{ cl.name}}            
            </div>
			{% endfor %}        	
        </div><!-- first column -->
        
        <div class="col-lg-9" style="border:dotted">
        	test
        </div>

    </div><!-- row -->
</div><!--container -->






<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
{% endblock %}