{% extends "header.html" %}
{% block content %}
  

<script>
	console.log( {{checklistStep}} );
	console.log("Hi");
</script>
 
{{ checklistStep }}

<div class="container">
	<div class="row">
    	<div class="col-md-4">
        	{% for cl in checklist %}
            	<div> #{{ cl.id }}: {{ cl.name }}  </div>
            {% endfor %}
            
        </div>
        <div class="col-md-8">
        	{% for s in checklistStep %}	
        	<div class="row">
        		<div class="col-sm-2">
                	{{ s.checklistId }}
                </div>
                <div class="col-sm-6">
                	{{ s.name }}
                </div>
                <div class="col-sm-4">
                	{{ s.stepType }}
                </div>
                
        	</div>
            {% endfor %}
        </div>
    </div>

</div> <!-- /container -->







{% endblock %}