{% extends "header.html" %}
{% block content %}


<div class="container">
    <form action="/createList/" method="get" role="form" >
    	<div class="form-group">
        	<label> Checklist Name </label>
            <input type="text" name="name" class="form-control" placeholder="Name of New Checklist">
       	</div>
        <label> Steps </label>
        <div class="form-group" id="create-steps">
        	
        </div>
            <input type="submit" value="Search">
        </div>
    </form>
</div>

<script>
//var txt=document.getElementById("create-steps").innerHTML;
//document.write(txt);


//var para=document.createElement("p");
//var node=document.createTextNode("This is new.");
//para.appendChild(node);

//var element=document.getElementById("div1");
//element.appendChild(para);

var stepInput = document.createElement("input");
var formGroup = document.getElementById("create-steps");

formGroup.appendChild(stepInput);



</script>


{% endblock %}