
{% extends "header.html" %}
{% block content %}
  


<div class="container">
    <div class = "row">
        <div class="col-md-8"> <h4> Log of Checklists </h4></div>
    </div>
    
    <div class="row">
        <div class="col-md-1"> Log # </div>
        <div class="col-md-1"> User </div>
        <div class="col-md-2"> Group </div>
        <div class="col-md-2"> Checklist # </div>
        <div class="col-md-3"> Template Checklist Name </div>
        <div class="col-md-3"> Modify Time </div>
        
    </div>
    {% for item in checklistLog %}    
    <div class="row">
            
        <div class="col-md-1"> # {{ item.id }} </div>
        <div class="col-md-1"> {{ item.user }} </div>
        <div class="col-md-2"> {{ item.checklist.group }} </div>
        <div class="col-md-2"> {{ item.checklist.id }} </div>
        <div class="col-md-3"> {{ item.checklist.name }} </div>
        <div class="col-md-3"> {{ item.modifyTime }} </div>
        
    </div> <!-- Row -->
    {% endfor %}
</div> <!--- container -->

<br />

<div class="container">
	<div class="row">
    	<div class="col-md-8"> <h4> Log of Steps </h4></div>
    </div>
    <div class="row">
    	<div class="col-md-1"> ChecklistLogId </div>
        <div class="col-md-2"> Template Name </div>
        <div class="col-md-1"> Log Id </div>
        <div class="col-md-3"> StepID </div>
        <div class="col-md-3"> Value</div>
        <div class="col-md-2"> Modify Time </div>
    </div>
    {% for item in stepLog %}
	<div class = "row">
        <div class="col-md-1"> #{{ item.checklistLogId }} </div>
        <div class="col-md-2"> {{ item.checklistTemplateName }}</div>
    	<div class="col-md-1"> #{{ item.id }} </div>
        <div class="col-md-3"> #{{ item.stepId }} </div>
        <div class="col-md-3"> {{ item.value }} </div>
        <div class="col-md-2"> {{ item.modifyTime }} </div>
    </div> <!-- row -->
	{% endfor %}
</div> <!-- End container -->

{% endblock %}