{% extends "header.html" %}
{% block content %}
{% load staticfiles %}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{% static "jquery/jquery-2.0.2.js" %}"></script>




<div class="container">
	<div class="row">
    	<div class="col-lg-3" style=>
        	<div class="row">
            	<h4> Please select a Checklist</h4>
            </div>
			
            <div class="row">
				<table class="table table-condensed">
               		{% for cl in checklist %}
                    <tr>
                        <td name="checklistId-{{cl.id}}" class="checklistTab" value={{cl.id}}>
                        {{ cl.name}}            
                        </td>
                    </tr>
                	{% endfor %} 
            	</table>
               
			</div>       	
        </div><!-- first column -->
        
        <div class="col-lg-9" >
        
        	<div class="row" id="graphMenu">
            	<div class="col-sm-12">
                    <ul class="nav nav-tabs" id="graphTab">
                      <li class="active"><a href="#barGraph">Population Graph</a></li>
                      <li class=""><a href="#pieGraph">Pie Chart</a></li>
                      <li class=""><a href="#timeline">Timeline</a></li>
                    </ul>
                
                	<div class="tab-content">
                        <div class="tab-pane fade in active" id="barGraph"></div> <!-- row, graph -->
                        <div class="tab-pane fade" id="pieGraph" ></div> <!-- row, graph -->
                        <div class="tab-pane fade" id="timeline">
                            Timeline
                        </div> <!-- row, graph -->  
					</div><!-- Tab Content -->
                </div>   
              </div>       
        </div>

    </div><!-- row -->
</div><!--container -->


<script>

$('#graphTab a').click(function(e){
							  e.preventDefault();
							  $(this).tab('show');
							  });

$(function (){
			$('#graphTab a:first').tab('show');
			});

$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  e.target // activated tab
  e.relatedTarget // previous tab
  alert("here");
})


</script>

<style>
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}

text {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}
</style>


<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

<script>

var logData;
$(".checklistTab").click(function(){
	var checklistId = $( this ).context.attributes.value;
	$(".checklistTab").removeClass("active");
	$(this).addClass("active");
	$.get( "/getLogData/"+checklistId.value, function( data ) {												  
		var barGraph = $("#barGraph").empty().append("<form>");
		barGraph.append("<label>").append('<input type="radio" name="mode" value="grouped">').append("Grouped");
		barGraph.append("<label>").append('<input type="radio" name="mode" value="stacked">').append("Stacked");	
		
		$("#pieGraph").empty();
		
		logData = data;
		drawBarGraph();
		drawPieGraph();
	});
});


</script>
<script src="{% static "jquery/drawBarGraph.js"%}"></script>
<script src="{% static "jquery/drawPieGraph.js"%}"></script>

{% endblock %}