
{% extends "header.html" %}
{% block content %}

{% load staticfiles %}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{% static "jquery/jquery-2.0.2.js" %}"></script>



<div class="container">
    <div class = "row">
        <div class="col-md-8"> <h4> Log of Checklists </h4></div>
    </div>
    
    <div class="table-responsive">
	    <table class="table">
        	<tr>
                <th width="5%"> StepId/NotifyId </th>
                <th width="25%"> name</th>
                <th> User</th>
                <th width="25%"> Additional Notes </th>
                <th> Image </th>
                <th> Complete By </th>
                <th> Completed</th>
                <th> Modified Time</th>
			</tr>            
            {% for notify in slate %}
            <tr>
            	<td> {{notify.logBool.id}}/{{notify.id}} </td>
                <td > {{notify.logBool.step.name}}</td>
                <td> {{notify.user.name}}</td>
                <td> {{notify.logBool.addText}} </td>
                <td> <a href='{{notify.logBool.addImage}}' class="preview" target="_blank"><img class="addNoteImage"  HEIGHT=50 WIDTH=50 src='{{notify.logBool.addImage}}' /> </a></td>
                <td> {{ notify.completeBy }} </td>
                
                {% if notify.complete %}
                <td> <button type="button" class="slate-notify btn btn-success" value="{{notify.id}}">Complete</button></td>
                {% else %}
                <td> <button type="button" class="slate-notify btn btn-danger" value="{{notify.id}}">Complete</button></td>
                {% endif %}
                
                <td> {{notify.completedTime}}</td>
                
            </tr>
            {% endfor %}
        
        
    	</table>  
    </div> <!-- table responsive -->

    
    
</div> <!--- container -->


<script>


$(".slate-notify").click(function(){
									$(this).toggleClass('btn-danger btn-success');
									
									
									$.get( "/checkOffSlate/"+ $(this).context.value, function(data) {
																					
																					//console.log($(this));
																					return data;
																				   });
									// Needs to be fixed, modify times not updating 
									
									//console.log(modifyTime);
									
									//$(this).context.parentElement.nextElementSibling.innerHTML = "HERERE";
									
									
									
									
									
									});

</script>
{% endblock %}